/* CSS Document */
         

   div.card {
            width: 72px;
            height: 96px;
            display:inherit;
        }
   div.suit {
            width: 100%;
            display:inline-block;
   }