/* CSS Document */
         
<<<<<<< HEAD
      h1 {
            text-align: center;
         }
=======
>>>>>>> 85045d6ea39b1ba091b253fe828b1d366b859b72

   div.card {
            width: 72px;
            height: 96px;
            display:inherit;
        }
   div.suit {
            width: 100%;
            display:inline-block;
   }